<%= render 'shared/navbar2' %>

<div class="container mt-5">
  <h1 class='text-center title text-align-center pt-4 pb-2'>INSCRIÇÃO</h1>

  <h2 class='text-center text-align-center pt-2 pb-2'>ACOMPANHE SUA INSCRIÇÃO</h2>
	<%= form_tag subscriptions_path, method: :get, class: 'simple_form new_subscription w-100' do %>
    <div class="form-inputs row h-100 justify-content-between">
			<div class="mt-0 mb-0 col-sm-6 col-md-4">
				<p class="mt-0 mb-0 text-center">NASCIMENTO: </p>
        <%= date_field_tag(:birthday, "", class:"form-control date required subscription_birthday mb-1", placeholder: '' ) %>
			</div>
			<div class="mt-0 mb-0 col-sm-6 col-md-4 ">
				<p class="mt-0 mb-0 text-center">EMAIL: </p>
				<%= text_field_tag(:email, "", class: "form-control string email required mb-1", placeholder: '' ) %>
			</div>
			<div class="mt-0 mb-0 col-sm-12 col-md-4 w-100 mb-1">
  			<%= submit_tag("PROCURAR", class: "blue-button position") %>
  		</div>
		</div>
	<% end %>	

  <h2 class='text-center text-align-center pt-5 pb-2'>NOVA INSCRIÇÃO</h2>
  <p class='text-center'>O 1° Boias-Brasil possui vagas limitadas para participação presencial. Dessa forma,
  a sua inscrição passará por análise da comissão organizadora do evento para escolha dos
  participantes. Essa escolha será realizada até o dia <strong>10 de outubro de 2022</strong>.
  Para os participantes que não forem selecionados para participação presencial, será enviado
  um link para assistir a transmissão do evento.</p>


  <%= simple_form_for @subscription do |f| %>
    <div class="form-inputs"> 
      <%= f.input :name, :label => "Nome completo",
                  required: true %>
      <%= f.input :birthday, :label => "Nascimento",
                  as: :date,
                  required: true, html5: true %>
      <p>CONTATO</p>
      <%= f.input :cellphone, :label => "Telefone",
                  required: true  %>
      <%= f.input :email,
                  required: true,
                  input_html: { autocomplete: "email" }%>
      <p>ENDEREÇO</p>
      <%= f.input :street, :label => "Rua",
                  required: true,
                  input_html: { autocomplete: "rua" }%>
      <%= f.input :number, :label => "Número",
                  required: true,
                  input_html: { autocomplete: "número" }%>
      <%= f.input :city, :label => "Cidade",
                  required: true,
                  input_html: { autocomplete: "cidade" }%>
      <%= f.input :city, :label => "Estado",
                  required: true,
                  input_html: { autocomplete: "estado" }%>
      <p>INFORMAÇÕES PESSOAIS</p>
      <%= f.input :user_type, :label => "Tipo de usuário",
                  required: true,
                  collection: User::USER_TYPE%>
      <%= f.input :institution, :label => "Nome da Instituição/Empresa",
                  required: true %>
      <p>EXPLIQUE SUA RELAÇÃO COM O PNBOIA</p>
      <%= f.input :observation, :label => "Porque gostaria de participar do evento? (*MAX 400 caracteres)",
                  required: true, class: "large-size" %>
    </div>

    <div class="form-actions align-items-center">
      <%= f.button :submit, "Inscrever-se", class: "blue-button mt-5" %>
    </div>
  <% end %>
</div>
